.content {
    padding: 2rem 3rem;
    border: 2px solid rgba(255, 255, 255, .4);
    border-bottom: none;
    position: relative;
    margin: 0 3rem;
}

.rockets {
    display: flex;
    flex-direction: column;
    height: 93vh;

    h1 {
        font-size: 2rem;
        font-weight: 100;
        margin-bottom: 2rem;
    }

    table {
        thead {
            tr {
                border-bottom: 1px solid rgba(255, 255, 255, .4);

                th {
                    text-align: left;
                    padding: 0 1rem 1rem 1rem;

                    p.small {
                        font-size: .5rem;
                    }
                }
            }
        }

        tbody {
            tr {
                background-color: transparent;

                &:hover {
                    background-color: rgba(255, 255, 255, .4);
                    transition: .3s;
                    cursor: pointer;
                }

                td {
                    vertical-align: top;
                    padding: 1rem 1rem;
                }
            }
        }
    }
}

.singleRocket {
    h1 {
        font-size: 2rem;
        font-weight: 100;
        margin-bottom: .5rem;
    }

    p {
        line-height: 1.5rem;

        &.time {
            font-size: .8rem;
            color: gray;
        }

        &.launch {
            margin-bottom: 2rem;
            padding: .3rem;
        }

        &.details {
            width: 80%;
            font-weight: 200;
        }

        &.big {
            font-size: 1.5rem;
            margin: 2rem 0 1rem 0;
        }
    }

    .photo {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;

        img {
            width: 16.5rem;
            margin-right: 1rem;
        }
    }

    .rocket {
        width: 8%;
        height: 850px;
        position: absolute;
        top: 3rem;
        right: 3rem;
    }
    .wikipediaBtn {
        padding: .5rem;
        color: olivedrab;
        border: 1px solid olivedrab;
        margin: 3rem 0;
        text-decoration: none;
        display: inline-block;
        &:hover {
            text-decoration: underline;
            transition: 1s;
        }
    }
}